%p
  text
.project_row
  .project
    .project_content
      %h3
        Xrono
  .project
    .project_content
  .project
  .project
.project_row
  .project
  .project
  .project
  .project
%ul
  - projects.each do |project|
    %li= link_to(project, project_path(project))
