!!!
%html
  %head
    %title
      Gitpusshuten Deploy Button
    = stylesheet_link_tag :all , :media => 'screen'
    = javascript_include_tag :defaults 
    = csrf_meta_tag 
  %body
    #header_top
      #header_top_content
    #header_bottom
    .border
    #content_border
      #content_bg
        #content
          = yield
          %h2
            App Store!
          %p
            LoremI'm sorry, man, but I've got magic. I've got poetry in my fingertips. Most of the time — and this includes naps — I'm an F-18, bro. And I will destroy you in the air. I will deploy my ordinance to the ground.
            You've read about the goddesses, come on. They're an international sensation. These are my girlfriends. These are the women that I love that have completed the three parts of my heart.
            It seems crazy to everybody else, but for us it works, Natty and Charlie have their own special connection. There's a new sheriff in town. And he has an army of assassins.
            Guys, it's right there in the thing, duh! We work for the Pope, we murder people. We're Vatican assassins. How complicated can it be? What they're not ready for is guys like you and I and Nails and all the other gnarly gnarlingtons in my life, that we are high priests, Vatican assassin warlocks. Boom. Print that, people. See where that goes.
          %p
            LoremI'm sorry, man, but I've got magic. I've got poetry in my fingertips. Most of the time — and this includes naps — I'm an F-18, bro. And I will destroy you in the air. I will deploy my ordinance to the ground.
            You've read about the goddesses, come on. They're an international sensation. These are my girlfriends. These are the women that I love that have completed the three parts of my heart.
            It seems crazy to everybody else, but for us it works, Natty and Charlie have their own special connection. There's a new sheriff in town. And he has an army of assassins.
          .project_row
            .project
            .project
            .project
            .project
          .project_row
            .project
            .project
            .project
            .project
          .clear
    .border
    #footer_bar
      #footer_fade
    #footer
    
