!!!
%html
  %head
    %title
      Gitpusshuten Deploy Button
    = stylesheet_link_tag :all , :media => 'screen'
    = javascript_include_tag :defaults 
    = csrf_meta_tag 
  %body
    #texture_wrap
      #header_top
        #header_top_content
          %ul 
            %li 
              %a{:href => "/"}
                login
            %li
              |
            %li 
              %a{:href => "/"}
                help 
            %li
              |
            %li 
              %a{:href => "/"}
                contact 
      #header_bottom
      .border
      #content_border
        #content_bg
          #content
            %h2
              App Store!
            = yield
            .clear
          .clear
      .border
      #footer_bar
        #footer_fade
      #footer
    
